<ngb-tabset>
	<ngb-tab title='Daily record'>
		<ng-template ngbTabContent>
			<h5>Daily Record</h5>
			<table class="table table-striped table-bordered">
				<thead class="thead-dark">
					<tr>
						<th scope="col" class="me-colum">Time Cost</th>
						<th scope="col">Name</th>
						<th scope="col" class="bi-colum">Type</th>
						<th scope="col" class="sm-colum">Importance</th>
						<th scope="col" class="sm-colum">Urgency</th>
						<th scope="col" class="bi-colum">Place</th>
						<th scope="col">Content</th>
						<th scope="col">Output</th>
						<th scope="col">Result</th>
					</tr>
				</thead>
				<tbody *ngFor="let task of tasks">
					<tr>
						<th scope="row">
							<mat-select [(ngModel)]="task.timeCost">
								<mat-option *ngFor="let option of taskTimeCostOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
						</th>
						<td class="td-input">
							<textarea row="3" [(ngModel)]="task.name"></textarea>
						</td>
						<td>
							<mat-select [(ngModel)]="task.type">
								<mat-option *ngFor="let option of taskTypeOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
						</td>
						<td>
							<mat-select [(ngModel)]="task.importance">
								<mat-option *ngFor="let option of taskImportanceOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
						</td>
						<td>
							<mat-select [(ngModel)]="task.urgency">
								<mat-option *ngFor="let option of taskUrgencyOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
						</td>
						<td>
							<mat-select [(ngModel)]="task.place">
								<mat-option *ngFor="let option of taskPlaceOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
						</td>
						<td class="td-input">
							<textarea [(ngModel)]="task.content"></textarea>
						</td>
						<td class="td-input">
							<textarea [(ngModel)]="task.output"></textarea>
						</td>
						<td>
							<mat-select [(ngModel)]="task.status">
								<mat-option *ngFor="let option of taskStatusOptions" [value]="option.code">{{option.label}}</mat-option>
							</mat-select>
					</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</ngb-tab>
	<ngb-tab title='Backlog'>
		<ng-template ngbTabContent>
			<h3>Backlog</h3>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
