<ngb-tabset>
	<ngb-tab title='Daily record'>
		<ng-template ngbTabContent>
			<h3>Daily Record</h3>
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Type</th>
						<th scope="col">Name</th>
						<th scope="col">priority</th>
						<th scope="col">Urgency</th>
						<th scope="col">Content</th>
						<th scope="col">Output</th>
						<th scope="col">Result</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>1</td>
						<td>2</td>
						<td>3</td>
						<td>4</td>
						<td>5</td>
						<td>6</td>
						<td>7</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</ngb-tab>
	<ngb-tab title='Backlog'>
		<ng-template ngbTabContent>
			<h3>Backlog</h3>
		</ng-template>
	</ngb-tab>
</ngb-tabset>
